#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todoPropertiesHeader {
  display: flex;
  justify-content: space-between;
}

.todosInCurrentPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todoInCurrentPage {
  display: flex;
  justify-content: space-between;
}

.pageNumber {
  display: flex;
  justify-content: space-evenly;
}